<h1> Create New Bookmark URL </h1>
<br>
<%= form_for [@topic, @bookmark] do |f| %>
  <div class="form-group">
    <%= f.text_field :url, class: 'form-control', placeholder: "Copy Web Address Here" %>
    </div>
    <%= f.submit "Save", class: 'btn btn-success' %>
  <% end %>
