<h1>All Bookmarks by Topic</h1>
<%= link_to "New Topic", new_topic_path %>
<br>
<br>
<% @topics.each do |topic| %>
  <div class="media">
    <div class="media-body">
      <h4 class="media-heading">
        <%= link_to topic.title, topic %>
      </h4>
      <% topic.bookmarks.each do |bookmark| %>
        <%= link_to bookmark.url, bookmark.url, target: '_blank' %><br>
      <% end %>
    </div>
  </div>
<% end %>
<br>