<h1> Create New Topic </h1>
<br>

<%= form_for @topic do |f| %>
   <div class="form-group">
   <%= f.text_field :title, class: 'form-control', placeholder: "New Topic Title" %>
   </div>
   <%= f.submit "Save", class: 'btn btn-success' %>
  <% end %>
